<?xml version="1.0" ?>
<LocConfig>
    <DBConfig>
        <host>localhost</host>
        <username>root</username>
        <password>root</password>
        <schema>sales</schema>
    </DBConfig>
    <tables>
        <facts>
            <fact>f_market</fact>
        </facts>
        <dimensions>
            <dimension>d_customer.Region</dimension>
            <dimension>d_orders</dimension>
            <dimension>d_products</dimension>
            <dimension>d_shipping</dimension>
        </dimensions>
    </tables>
    <aggregations>
        <aggregation>
            <factvariable>Sales</factvariable>
            <functions>
                <function>sum</function>
                <function>average</function>
            </functions>
        </aggregation>
        <aggregation>
            <factvariable>Discount</factvariable>
            <functions>
                <function>sum</function>
                <function>average</function>
            </functions>
        </aggregation>
        <aggregation>
            <factvariable>Order_Quantity</factvariable>
            <functions>
                <function>sum</function>
                <function>average</function>
            </functions>
        </aggregation>
        <aggregation>
            <factvariable>Profit</factvariable>
            <functions>
                <function>sum</function>
                <function>average</function>
            </functions>
        </aggregation>
        <aggregation>
            <factvariable>Shipping_Cost</factvariable>
            <functions>
                <function>sum</function>
                <function>average</function>
            </functions>
        </aggregation>
        <aggregation>
            <factvariable>Product_Base_Margin</factvariable>
            <functions>
                <function>sum</function>
                <function>average</function>
            </functions>
        </aggregation>
    </aggregations>
</LocConfig>